@charset "UTF-8";
/*
 * 参考
 * https://github.com/Andy-set-studio/modern-css-reset/blob/master/src/reset.css
*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd,
ul {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
input[type=submit],
input[type=button] {
  border-radius: 0px;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  -moz-appearance: button;
       appearance: button;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  background: transparent;
}

input[type=submit]::-webkit-search-decoration,
input[type=button]::-webkit-search-decoration {
  display: none;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #4E4E4E;
  background-color: #7FB0BF;
  -webkit-text-size-adjust: "none" "100%" "auto";
}

a {
  text-decoration: none;
  color: inherit;
  transition: opacity 0.3s;
}

@media screen and (min-width: 769px) {
  a:hover,
  a:focus {
    opacity: 0.8;
  }
}

.pc-only {
  display: none;
}
@media screen and (min-width: 993px) {
  .pc-only {
    display: block;
  }
}

.scroll-margin {
  scroll-margin-top: 4.5rem;
}
@media screen and (min-width: 577px) {
  .scroll-margin {
    scroll-margin-top: 5.375rem;
  }
}
@media screen and (min-width: 769px) {
  .scroll-margin {
    scroll-margin-top: 6.25rem;
  }
}

.c-btn {
  padding: 1.3125rem 1.125rem;
  color: #fff;
  display: inline-block;
  font-size: clamp(12px, 2.8125vw, 36px);
  line-height: 1;
  letter-spacing: 0.08em;
  border-radius: 1.5rem;
  background-color: #4E4E4E;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 993px) {
  .c-btn {
    padding: 1.125rem 1.1875rem;
    border-radius: 1.875rem;
  }
}

@media screen and (min-width: 993px) {
  .c-btn.c-btn--colorChange {
    font-size: 0;
    background: #F4F0F0;
    max-width: 208px;
    width: 13.75rem;
  }
  .c-btn.c-btn--colorChange::before {
    font-size: 1rem;
    content: "無料体験お申込み";
    color: #4E4E4E;
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.08em;
  }
}
.c-btn.btn-plan {
  border-radius: 30px;
  background: #edeff0;
  box-shadow: 0px 10px 10px 0px rgba(102, 158, 170, 0.25);
  padding: 1rem 5rem;
  text-align: center;
}
@media (hover: hover) {
  .c-btn.btn-plan:hover, .c-btn.btn-plan:focus {
    opacity: 0.8;
    cursor: pointer;
    transition: all 0.3s ease;
  }
}
@media screen and (min-width: 993px) {
  .c-btn.btn-plan {
    padding: 2.3125rem 11.375rem 2rem 11.125rem;
    max-width: 583px;
  }
}

.btn-textTop {
  font-size: clamp(16px, 1.875vw, 24px);
  color: #4E4E4E;
  font-weight: 400;
  line-height: 1.1666666667;
  line-height: 1;
  letter-spacing: 0.08em;
}
@media screen and (min-width: 993px) {
  .btn-textTop {
    letter-spacing: 0.08em;
    margin-left: 0.625rem;
  }
}

.btn-textBottom {
  color: #7fb0bf;
  font-size: clamp(40px, 5vw, 64px);
  font-weight: 400;
  line-height: 1.175;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  position: relative;
}
@media screen and (min-width: 993px) {
  .btn-textBottom {
    letter-spacing: 0.08em;
    margin-top: 0.625rem;
  }
}
.btn-textBottom::before, .btn-textBottom::after {
  content: "";
  position: absolute;
  background: #7FB0BF;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  top: 0.375rem;
}
@media screen and (min-width: 993px) {
  .btn-textBottom::before, .btn-textBottom::after {
    width: 1.875rem;
    height: 1.875rem;
    top: 0rem;
  }
}
.btn-textBottom::before {
  left: -2.8125rem;
}
@media screen and (min-width: 993px) {
  .btn-textBottom::before {
    left: -5.75rem;
  }
}
.btn-textBottom::after {
  right: -2.75rem;
}
@media screen and (min-width: 993px) {
  .btn-textBottom::after {
    right: -6rem;
  }
}

.btn-planWrap {
  position: relative;
  margin-top: 6.5rem;
}

.plan-barWrap {
  margin-top: 3.5rem;
  margin-bottom: 1rem;
  margin-inline: auto;
  width: 8.5rem;
  height: 2rem;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 993px) {
  .plan-barWrap {
    width: 16.5rem;
    max-width: 264px;
    height: 4rem;
    margin-top: 7rem;
    margin-bottom: 3.5rem;
  }
}

.plan-bar1,
.plan-bar2,
.plan-bar3 {
  background: #fff;
  width: 0.1875rem;
  height: 1.3125rem;
}
@media screen and (min-width: 993px) {
  .plan-bar1,
  .plan-bar2,
  .plan-bar3 {
    height: 2.625rem;
  }
}

.plan-bar1 {
  transform: rotate(-45deg);
  align-self: flex-end;
}

.plan-bar3 {
  transform: rotate(45deg);
  align-self: flex-end;
}

.c-btn.btn-entry {
  margin-top: 3rem;
  margin-bottom: 4.5rem;
  width: 100%;
  font-size: clamp(18px, 2.8125vw, 36px);
  background: #4e4e4e;
}
@media screen and (min-width: 769px) {
  .c-btn.btn-entry {
    margin-top: 5.5rem;
    margin-bottom: 8.5rem;
    padding: 2.5rem 0;
    max-width: 720px;
  }
}

.c-title {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: clamp(24px, 3.125vw, 40px);
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}
@media screen and (min-width: 993px) {
  .c-title {
    letter-spacing: 0.08em;
  }
}

.loading {
  width: 100vw;
  height: 100vh;
  transition: all 1s;
  background-color: #7FB0BF;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  z-index: 9999;
  opacity: 1;
  visibility: visible;
}

.loading.is-active {
  opacity: 0;
  visibility: hidden;
}

.loading__img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100vw;
  height: 100vh;
  transition: all 1s;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
}

.loading__img img {
  width: clamp(72px, 20vw, 120px);
  height: auto;
  -webkit-animation: loading 1s forwards ease-in-out;
          animation: loading 1s forwards ease-in-out;
}

.loading__img.is-active {
  opacity: 1;
  visibility: visible;
}

.loading__title {
  font-size: clamp(40px, 5vw, 64px);
  color: #4e4e4e;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.08em;
  -webkit-animation: loading 1.5s forwards ease-in-out;
          animation: loading 1.5s forwards ease-in-out;
}

@-webkit-keyframes loading {
  0% {
    opacity: 0;
    transform: translateY(3.75rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes loading {
  0% {
    opacity: 0;
    transform: translateY(3.75rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.header {
  height: 4.5rem;
  background: #7FB0BF;
  padding-left: 1.5rem;
  padding-right: 2.125rem;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 999;
}
@media screen and (min-width: 577px) {
  .header {
    height: 5.375rem;
    padding-left: 2.125rem;
    padding-right: 2.75rem;
  }
}
@media screen and (min-width: 769px) {
  .header {
    height: 6.25rem;
    padding-left: 4rem;
    padding-right: 4.625rem;
  }
}
@media screen and (min-width: 993px) {
  .header {
    padding-left: 5.75rem;
    padding-right: 6.375rem;
  }
}
@media screen and (min-width: 1201px) {
  .header {
    padding-left: 8.75rem;
    padding-right: 8.75rem;
  }
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.header__logo img {
  display: inline-block;
  width: 2.5rem;
  min-width: 40px;
  height: 100%;
  aspect-ratio: 1/1;
  flex-shrink: 0;
}
@media screen and (min-width: 577px) {
  .header__logo img {
    width: 3.125rem;
    max-width: 50px;
  }
}
@media screen and (min-width: 769px) {
  .header__logo img {
    width: 3.8125rem;
    max-width: 61px;
  }
}

.header__logo a {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
@media screen and (min-width: 769px) {
  .header__logo a {
    gap: 0.875rem;
  }
}
@media screen and (min-width: 993px) {
  .header__logo a {
    gap: 1.25rem;
  }
}

.header__title {
  font-family: "Roboto", sans-serif;
  font-size: clamp(24px, 3.75vw, 40px);
  color: #4E4E4E;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.08em;
  flex-shrink: 0;
}

.header__contact-wrapper {
  display: flex;
  align-items: center;
  gap: 1.125rem;
}
@media screen and (min-width: 993px) {
  .header__contact-wrapper {
    display: none;
  }
}

.header__nav {
  position: fixed;
  top: 0;
  right: 0px;
  width: 76.5vw;
  height: 100vh;
  padding-top: 11.25rem;
  background: #fff;
  z-index: 1001;
  transform: translateX(100vw);
  transition: all 0.5s;
}
@media screen and (min-width: 993px) {
  .header__nav {
    transform: translateX(0);
    width: auto;
    height: 100%;
    padding-top: 0;
    position: static;
    background: inherit;
  }
}

.header__nav.is_active {
  transform: translateX(0);
}
.header__nav.is_active .header__nav-item:not(:last-child) {
  height: 4.125rem;
}
.header__nav.is_active .header__nav-item:last-child {
  margin-top: 1.125rem;
}
.header__nav.is_active .header__nav-item:not(:last-child) a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__nav-list {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 0;
}
@media screen and (min-width: 993px) {
  .header__nav-list {
    flex-wrap: nowrap;
    align-items: center;
    height: 100%;
  }
}

.header__nav-item {
  text-transform: uppercase;
  width: 100%;
}
@media screen and (min-width: 993px) {
  .header__nav-item {
    height: inherit;
  }
  .header__nav-item:not(:last-child) a {
    padding-right: 0.75rem;
  }
  .header__nav-item:not(:first-child) a {
    padding-left: 0.75rem;
  }
  .header__nav-item:last-child {
    margin-left: 1.5rem;
  }
}
@media screen and (min-width: 1201px) {
  .header__nav-item {
    height: inherit;
  }
  .header__nav-item:not(:last-child) a {
    padding-right: 1rem;
  }
  .header__nav-item:not(:first-child) a {
    padding-left: 1rem;
  }
  .header__nav-item:last-child {
    margin-left: 2rem;
  }
}

.header__nav-item a {
  transition: background-color 0.4s ease-in, color 0.4s ease-in;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.08em;
}

@media screen and (min-width: 993px) {
  .header__nav-item:not(:last-child) a {
    display: flex;
    align-items: center;
    width: 90%;
    height: inherit;
  }
}

@media screen and (min-width: 993px) {
  .header__nav-item:last-child {
    display: flex;
    align-items: center;
  }
}

@media screen and (hover: hover) and (min-width: 993px) {
  .header__nav-item:not(:last-child) a:focus,
  .header__nav-item:not(:last-child) a:hover {
    color: #fff;
  }
  .header__nav-item:last-child a:focus,
  .header__nav-item:last-child a:hover {
    background: #4E4E4E;
  }
  .header__nav-item:last-child a:focus::before,
  .header__nav-item:last-child a:hover::before {
    color: #fff;
  }
}
.header__contact,
.hamburger_menu {
  width: 2.3125rem;
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  position: relative;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  transform: translateY(-10%);
  flex-shrink: 0;
}
@media screen and (min-width: 577px) {
  .header__contact,
  .hamburger_menu {
    width: 2.625rem;
    max-width: 42px;
  }
}
@media screen and (min-width: 769px) {
  .header__contact,
  .hamburger_menu {
    width: 3.25rem;
    max-width: 52px;
  }
}
@media (hover: hover) {
  .header__contact:hover, .header__contact:focus,
  .hamburger_menu:hover,
  .hamburger_menu:focus {
    opacity: 0.7;
    cursor: pointer;
    transition: all 0.3s ease;
  }
}

.header__contact {
  display: block;
  background: #f1f7f8 url(../images/top/mail_icon.png) no-repeat center center/60%;
}

.hamburger_menu {
  background: #CFDBE1;
}

.header__contact::after,
.hamburger_menu::after {
  position: absolute;
  width: 110%;
  height: 10px;
  color: #4E4E4E;
  font-family: "Roboto", sans-serif;
  font-size: 0.375rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.096em;
  top: calc(100% + 5px);
  left: 50%;
  transform: translateX(-48%);
  display: block;
}
@media screen and (min-width: 577px) {
  .header__contact::after,
  .hamburger_menu::after {
    font-size: 0.375rem;
    top: calc(100% + 6px);
  }
}
@media screen and (min-width: 769px) {
  .header__contact::after,
  .hamburger_menu::after {
    transform: translateX(-40%);
  }
}

.header__contact::after {
  content: "お問い合わせ";
}

.hamburger_menu::after {
  content: "メニュー";
  width: 80%;
  transform: translateX(-42%);
}
@media screen and (min-width: 769px) {
  .hamburger_menu::after {
    transform: translateX(-36%);
  }
}

.hamburger_bar1,
.hamburger_bar2,
.hamburger_bar3 {
  display: block;
  background: #4E4E4E;
  width: 0.8675rem;
  height: 2px;
  margin: 0 auto;
  transition: transform 0.3s, width 0.2s, opacity 0.2s;
}
@media screen and (min-width: 577px) {
  .hamburger_bar1,
  .hamburger_bar2,
  .hamburger_bar3 {
    max-width: 20px;
  }
}
@media screen and (min-width: 769px) {
  .hamburger_bar1,
  .hamburger_bar2,
  .hamburger_bar3 {
    width: 1.25rem;
    max-width: 24px;
  }
}

.hamburger_bar2,
.hamburger_bar3 {
  margin-top: 0.125rem;
}
@media screen and (min-width: 577px) {
  .hamburger_bar2,
  .hamburger_bar3 {
    margin-top: 0.25rem;
  }
}
@media screen and (min-width: 769px) {
  .hamburger_bar2,
  .hamburger_bar3 {
    margin-top: 0.375rem;
  }
}

.hamburger_menu.is_active {
  position: relative;
  z-index: 1002;
  top: 1.3125rem;
  right: 0.625rem;
}
.hamburger_menu.is_active::after {
  content: "";
}

.hamburger_menu.is_active .hamburger_bar1 {
  transform: translateY(4px) rotate(-45deg);
}
@media screen and (min-width: 577px) {
  .hamburger_menu.is_active .hamburger_bar1 {
    transform: translateY(6px) rotate(-45deg);
  }
}
@media screen and (min-width: 769px) {
  .hamburger_menu.is_active .hamburger_bar1 {
    transform: translateY(8px) rotate(-45deg);
  }
}

.hamburger_menu.is_active .hamburger_bar2 {
  opacity: 0;
}

.hamburger_menu.is_active .hamburger_bar3 {
  transform: translateY(-4px) rotate(45deg);
}
@media screen and (min-width: 577px) {
  .hamburger_menu.is_active .hamburger_bar3 {
    transform: translateY(-6px) rotate(45deg);
  }
}
@media screen and (min-width: 769px) {
  .hamburger_menu.is_active .hamburger_bar3 {
    transform: translateY(-8px) rotate(45deg);
  }
}

.hamburger_bg {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.6s;
}

.hamburger_bg.is_active {
  opacity: 1;
  pointer-events: auto;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: #7FB0BF;
  z-index: 1000;
}

.mv__image {
  background-image: url(../images/top/mv@2x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 47% 0;
  width: 100vw;
  height: 667px;
  padding-top: 228px;
  padding-right: 4%;
  padding-left: 4%;
}
@media screen and (min-width: 577px) {
  .mv__image {
    height: 600px;
    padding-top: 208px;
  }
}
@media screen and (min-width: 769px) {
  .mv__image {
    height: 710px;
    padding-top: 200px;
    padding-right: 3%;
    padding-left: 3%;
  }
}
@media screen and (min-width: 993px) {
  .mv__image {
    height: 762px;
    margin-top: 100px;
    padding-top: 0px;
  }
}
@media screen and (min-width: 1201px) {
  .mv__image {
    margin-top: 100px;
  }
}

.mv__inner {
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.mv__title {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 191px;
  width: 50.9333333333vw;
  height: auto;
  aspect-ratio: 191/155;
  flex-shrink: 0;
  color: #4E4E4E;
  font-size: clamp(40px, 7.5vw, 96px);
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.08em;
  background: url(/images/top/ufit.svg) no-repeat center center/cover;
}
@media screen and (min-width: 577px) {
  .mv__title {
    max-width: 280px;
    width: 42.6666666667vw;
  }
}
@media screen and (min-width: 769px) {
  .mv__title {
    width: 33.4375vw;
    max-width: 430px;
  }
}
@media screen and (min-width: 993px) {
  .mv__title {
    width: 35.9375vw;
    max-width: 459px;
    padding-right: 18px;
  }
}
@media screen and (min-width: 1201px) {
  .mv__title {
    width: 35.9375vw;
    max-width: 459px;
  }
}

.about__inner {
  position: relative;
  margin-top: 2rem;
  width: 100%;
}
@media screen and (min-width: 993px) {
  .about__inner {
    max-width: 920px;
    margin-top: 7.8125rem;
    margin-inline: auto;
  }
}

.about__content {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 19.875rem;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 0.625rem;
  background-image: url(/images/top/beyouself.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 479px) {
  .about__content {
    width: 29.9375rem;
    height: auto;
    aspect-ratio: 479/318;
    padding: 0;
  }
}
@media screen and (min-width: 769px) {
  .about__content {
    width: 32.5rem;
  }
}
@media screen and (min-width: 993px) {
  .about__content {
    width: 40.6875rem;
    left: 32%;
  }
}
.about__content::after {
  display: block;
  content: "";
  position: absolute;
  width: 11.125rem;
  height: auto;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: url(/images/top/about_img@2x.jpg) no-repeat center center/cover;
  bottom: -5.625rem;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (min-width: 769px) {
  .about__content::after {
    width: 12.5rem;
    bottom: -6.875rem;
  }
}
@media screen and (min-width: 993px) {
  .about__content::after {
    left: 90%;
    transform: translateX(0);
    width: 20.5rem;
    bottom: 50%;
    transform: translateY(48%);
  }
}

.about__body {
  width: 20.375rem;
  margin-top: 2.75rem;
}
@media screen and (min-width: 993px) {
  .about__body {
    margin-top: 5.625rem;
    width: 27.25rem;
  }
}

.about__title {
  position: relative;
  color: #fff;
  font-size: clamp(20px, 3.125vw, 40px);
  font-weight: 400;
  line-height: 2; /* 200% */
  letter-spacing: 0.08em;
  margin-left: 3.375rem;
  display: inline-block;
}
@media screen and (min-width: 993px) {
  .about__title {
    line-height: 1; /* 100% */
    letter-spacing: 0.08em;
    margin-left: 16%;
  }
}
.about__title::before {
  content: "";
  position: absolute;
  width: 0.5rem;
  height: 0.5rem;
  border: none;
  background: #fff;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-20%);
  left: -1.25rem;
}
@media screen and (min-width: 993px) {
  .about__title::before {
    width: 1.5625rem;
    height: 1.5625rem;
    left: -3.5625rem;
    transform: translateY(-50%);
  }
}
.about__title::after {
  content: "";
  position: absolute;
  width: 0.5rem;
  height: 0.5rem;
  border: none;
  background: #fff;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-20%);
  right: -1.25rem;
  z-index: 2;
}
@media screen and (min-width: 993px) {
  .about__title::after {
    width: 1.5625rem;
    height: 1.5625rem;
    right: -3.5625rem;
    transform: translateY(-50%);
  }
}

.about__text {
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.08em;
  margin-top: 1.625rem;
}
@media screen and (min-width: 769px) {
  .about__text {
    margin-top: 1rem;
  }
}
@media screen and (min-width: 993px) {
  .about__text {
    line-height: 2.5; /* 250% */
    margin-top: 3.375rem;
  }
}

.about__text .marker {
  background: linear-gradient(transparent 70%, #f4f0f0 70%);
}

.feature {
  text-align: center;
  padding-inline: 7%;
  padding-top: 25.4375rem;
}
@media screen and (min-width: 577px) {
  .feature {
    padding-top: 27.0625rem;
    padding-inline: 10%;
  }
}
@media screen and (min-width: 993px) {
  .feature {
    padding-top: 27.0625rem;
  }
}

.feature__title.c-title {
  margin-top: 3.5rem;
}
@media screen and (min-width: 993px) {
  .feature__title.c-title {
    margin-top: 9rem;
  }
}

.feature__inner {
  max-width: 672px;
  margin: 0 auto;
  padding-bottom: 2.5rem;
}
@media screen and (min-width: 993px) {
  .feature__inner {
    padding-bottom: 9.5rem;
  }
}

.feature__list {
  margin-top: 3rem;
  counter-reset: count 0;
}

.feature__item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: #fbf7f1;
  border-radius: 30px;
  padding: 1.5rem 0.875rem 2rem;
}
@media screen and (min-width: 577px) {
  .feature__item {
    padding: 1.75rem 2.5rem 2rem;
  }
}
@media screen and (min-width: 769px) {
  .feature__item {
    align-items: center;
    flex-wrap: nowrap;
    background: #F4F0F0;
    padding: 2.25rem 2rem 2.25rem 5.5rem;
    gap: 1.875rem;
    margin-top: 4.875rem;
  }
}
.feature__item + .feature__item {
  margin-top: 2.875rem;
}
@media screen and (min-width: 769px) {
  .feature__item + .feature__item {
    margin-top: 4.375rem;
  }
}
.feature__item::before {
  display: flex;
  justify-content: center;
  align-items: center;
  content: counter(count, decimal-leading-zero);
  counter-increment: count 1;
  font-size: clamp(16px, 3.75vw, 48px);
  font-weight: 500;
  letter-spacing: 0.08em;
  position: absolute;
  width: 3rem;
  height: 3rem;
  border: none;
  border-radius: 50%;
  background: #CFDBE1;
  top: 0;
  transform: translateY(-32%);
  left: 0;
}
@media screen and (min-width: 577px) {
  .feature__item::before {
    width: 4.25rem;
    height: 4.25rem;
  }
}
@media screen and (min-width: 769px) {
  .feature__item::before {
    font-weight: 400;
    letter-spacing: 0.08em;
    width: 6.25rem;
    height: 6.25rem;
    transform: translate(-38%, -50%);
  }
}
@media screen and (min-width: 993px) {
  .feature__item::before {
    width: 8.5625rem;
    height: 8.5625rem;
  }
}

.feature__content {
  display: contents;
}
@media screen and (min-width: 769px) {
  .feature__content {
    text-align: left;
    display: block;
    width: 18.75rem;
  }
}

.feature__item-title {
  font-size: clamp(16px, 1.5625vw, 20px);
  font-weight: 400;
  letter-spacing: 0.08em;
  order: 1;
  width: 100%;
}
@media screen and (min-width: 769px) {
  .feature__item-title {
    letter-spacing: 0.08em;
  }
}

.feature__text {
  font-weight: 400;
  line-height: 1.25; /* 125% */
  letter-spacing: 0.08em;
  margin-top: 1.5rem;
  text-align: left;
  order: 3;
}
@media screen and (min-width: 577px) {
  .feature__text {
    width: 31.25rem;
  }
}
@media screen and (min-width: 769px) {
  .feature__text {
    order: 2;
    width: 15.5rem;
    margin-top: 1.5rem;
  }
}

.feature__item-image {
  width: 15rem;
  aspect-ratio: 240/192;
  margin-top: 1.375rem;
  order: 2;
}
@media screen and (min-width: 577px) {
  .feature__item-image {
    width: 18.75rem;
  }
}
@media screen and (min-width: 769px) {
  .feature__item-image {
    max-width: 240px;
    aspect-ratio: 240/192;
    margin-top: 0;
    order: 3;
  }
}

.feature__item-image img {
  width: 100%;
  height: auto;
}
@media screen and (min-width: 769px) {
  .feature__item-image img {
    height: 100%;
  }
}

.parallax-container {
  position: relative;
  height: 6.5rem;
}
@media screen and (min-width: 769px) {
  .parallax-container {
    height: 21.6875rem;
  }
}

.parallax-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-clip-path: inset(0);
          clip-path: inset(0);
}

.parallax-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url(/images/top/training_sp@2x.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}

.voice {
  text-align: center;
}

.voice__title.c-title {
  margin-top: 2.5rem;
}
@media screen and (min-width: 993px) {
  .voice__title.c-title {
    margin-top: 7.625rem;
  }
}

.swiper-container {
  position: relative;
  margin-top: 2rem;
}
@media screen and (min-width: 993px) {
  .swiper-container {
    margin-top: 4.625rem;
  }
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: #f4f0f0;
  border-radius: 50%;
  width: 15.5rem;
  max-width: 248px;
  height: auto;
  aspect-ratio: 1;
  flex-shrink: 0;
}
@media screen and (min-width: 577px) {
  .swiper-slide {
    width: 16.25rem;
    max-width: 260px;
  }
}
@media screen and (min-width: 769px) {
  .swiper-slide {
    width: 22.5rem;
    min-width: 280px;
  }
}
@media screen and (min-width: 993px) {
  .swiper-slide {
    min-width: 300px;
  }
}
@media screen and (min-width: 1201px) {
  .swiper-slide {
    max-width: 323px;
  }
}

.swiper-head {
  text-align: left;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25; /* 125% */
  letter-spacing: 0.08em;
  margin-top: 3.125rem;
  position: relative;
}
@media screen and (min-width: 769px) {
  .swiper-head {
    margin-top: 3.75rem;
  }
}
@media screen and (min-width: 993px) {
  .swiper-head {
    margin-top: 4rem;
  }
}
@media screen and (min-width: 1201px) {
  .swiper-head {
    margin-top: 5.4375rem;
  }
}
.swiper-head::after {
  content: "";
  display: block;
  position: absolute;
  width: 44%;
  height: 1px;
  background: #4E4E4E;
  bottom: -1rem;
  left: 50%;
  transform: translateX(-50%);
}

.swiper-body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 1.875rem;
  margin-left: 0.625rem;
}

.swiper-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.swiper-beforeWeight {
  text-align: left;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25; /* 125% */
  letter-spacing: 0.08em;
}

.swiper-afterWeight {
  font-size: 2rem;
  font-weight: 400;
  line-height: 0.625; /* 62.5% */
  letter-spacing: 0.08em;
  margin-top: 0.5rem;
}

.swiper-attribute {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.66; /* 166.667% */
  letter-spacing: 0.08em;
  margin-top: 1.25rem;
  margin-left: 0.875rem;
}

.swiper-image {
  margin-left: 0.875rem;
  width: 5.6875rem;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: "";
  width: 1.25rem;
  height: 1.25rem;
  border-top: solid 2px #bbccd1;
  border-right: solid 2px #bbccd1;
  position: absolute;
  top: 0.75rem;
}

.swiper-button-prev::after {
  transform: rotate(-135deg);
  left: 0.625rem;
}

.swiper-button-next::after {
  transform: rotate(45deg);
  right: 0.625rem;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: -2.5rem;
  left: 50%;
  transform: translateX(-50%);
}

.faq {
  padding: 0rem 5%;
}

.faq__title.c-title {
  margin-top: 4.875rem;
  text-align: center;
}
@media screen and (min-width: 769px) {
  .faq__title.c-title {
    margin-top: 7rem;
  }
}

.faq__inner {
  text-align: center;
  margin-inline: auto;
  margin-top: 2rem;
  width: 19.5rem;
  max-width: 100%;
}
@media screen and (min-width: 577px) {
  .faq__inner {
    width: 25.625rem;
  }
}
@media screen and (min-width: 769px) {
  .faq__inner {
    width: 37.5rem;
  }
}
@media screen and (min-width: 993px) {
  .faq__inner {
    margin-top: 4.5rem;
    width: 46.25rem;
  }
}

.faq__list {
  text-align: left;
}

.faq-list__item {
  background-color: #F4F0F0;
  box-shadow: 0 0 2.5rem 0 rgba(0, 0, 0, 0.05);
}

.faq-list__item + .faq-list__item {
  margin-top: 1.5rem;
}
@media screen and (min-width: 769px) {
  .faq-list__item + .faq-list__item {
    margin-top: 2rem;
  }
}

.faq-list__item-question {
  font-size: clamp(14px, 1.40625vw, 18px);
  font-weight: 700;
  line-height: 1.1428571429;
  padding: 0.75rem 1.875rem 0.75rem 2rem;
  position: relative;
  text-indent: 0rem;
  cursor: pointer;
}
@media screen and (min-width: 769px) {
  .faq-list__item-question {
    text-indent: -1.5625rem;
    padding: 0.9375rem 3.75rem 0.875rem 4.125rem;
    font-size: 1.125rem;
  }
}

.faq-list__item-question::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 1.125rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.1875rem solid #c6c6c6;
  border-right: 0.1875rem solid #c6c6c6;
  transform: translateY(-50%) rotate(135deg);
  transition: 0.3s;
}
@media screen and (min-width: 769px) {
  .faq-list__item-question::before {
    width: 0.8125rem;
    height: 0.8125rem;
  }
}

.faq-list__item-question.is-open::before {
  transform: translateY(-50%) rotate(315deg);
}

.faq-list__item-question span {
  font-size: clamp(20px, 1.875vw, 24px);
  font-weight: 700;
  margin-right: 0.5rem;
  line-height: 1.1428571429;
  display: inline-block;
  color: #4E4E4E;
  left: 0.625rem;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}
@media screen and (min-width: 769px) {
  .faq-list__item-question span {
    margin-right: 0;
    left: 2.5rem;
  }
}
@media screen and (min-width: 993px) {
  .faq-list__item-question span {
    line-height: 1.1666666667;
  }
}

.faq-list__item-answer {
  color: #4E4E4E;
  font-size: 1rem;
  padding: 1rem 1.875rem 0.9375rem 3.75rem;
  display: none;
  text-indent: -1.25rem;
  font-weight: 400;
  line-height: 1.5;
  background: #7FB0BF;
  padding: 0.75rem 0.25rem 0rem 2rem;
  position: relative;
  text-indent: 0rem;
}
@media screen and (min-width: 769px) {
  .faq-list__item-answer {
    text-indent: 0rem;
    padding: 0.9375rem 0.625rem 0.875rem 4.125rem;
    font-size: 1.125rem;
  }
}

.faq-list__item-answer span {
  font-size: clamp(20px, 1.875vw, 24px);
  display: inline-block;
  position: absolute;
  margin-right: 1.25rem;
  left: 0.625rem;
  font-weight: 500;
  top: 0.5625rem;
}
@media screen and (min-width: 769px) {
  .faq-list__item-answer span {
    left: 1.125rem;
    top: 0.875rem;
  }
}
@media screen and (min-width: 1201px) {
  .faq-list__item-answer span {
    top: 0.75rem;
  }
}

.footer__inner {
  width: 100%;
  background: #BBCCD1;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 1.125rem;
  padding-bottom: 2.5625rem;
  margin: 0 auto;
}
@media screen and (min-width: 577px) {
  .footer__inner {
    padding-top: 2rem;
  }
}
@media screen and (min-width: 769px) {
  .footer__inner {
    padding-top: 3rem;
  }
}
@media screen and (min-width: 993px) {
  .footer__inner {
    padding-top: 4rem;
    padding-bottom: 5rem;
  }
}

.footer__logo {
  text-align: center;
}

.footer__logo img {
  width: 4.5rem;
  min-width: 72px;
  height: auto;
  aspect-ratio: 1/1;
  margin: 0 auto;
}
@media screen and (min-width: 577px) {
  .footer__logo img {
    width: 4.875rem;
    max-width: 78px;
  }
}
@media screen and (min-width: 769px) {
  .footer__logo img {
    width: 5.375rem;
    max-width: 86px;
  }
}
@media screen and (min-width: 993px) {
  .footer__logo img {
    width: 6rem;
    max-width: 96px;
  }
}

.footer__title {
  font-size: clamp(40px, 5vw, 64px);
  font-weight: 400;
  line-height: 1; /* 100% */
  letter-spacing: 0.08em;
  display: block;
  width: 100%;
  margin-top: 1rem;
}
@media screen and (min-width: 993px) {
  .footer__title {
    letter-spacing: 0.08em;
    margin-top: 1.625rem;
  }
}

.footer__nav-list {
  display: flex;
  gap: 2rem;
}

.footer__nav-item {
  margin-top: 1rem;
}
@media screen and (min-width: 993px) {
  .footer__nav-item {
    margin-top: 2rem;
  }
}

.footer__nav-item a {
  text-transform: uppercase;
  font-size: clamp(14px, 1.25vw, 16px);
  font-weight: 400;
  line-height: 1.71429; /* 171.429% */
  letter-spacing: 0.08em;
}
@media screen and (min-width: 993px) {
  .footer__nav-item a {
    line-height: 1.5; /* 150% */
    letter-spacing: 0.079375em;
  }
}

.footer__copy {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4.5rem;
}
@media screen and (min-width: 993px) {
  .footer__copy {
    height: 6.9125rem;
  }
}

.footer__copy-text {
  font-family: "Noto Sans", sans-serif;
  font-size: clamp(8px, 0.78125vw, 10px);
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.08em;
}
@media screen and (min-width: 993px) {
  .footer__copy-text {
    letter-spacing: 0.064em;
  }
}

.plan {
  padding: 0 5%;
  text-align: center;
}

.plan-page-mv__image {
  background: url(/images/plan/mv_plan_sp@2x.jpg) no-repeat center center/cover;
  width: 100%;
  height: auto;
  aspect-ratio: 375/344;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}
@media screen and (min-width: 769px) {
  .plan-page-mv__image {
    background: url(/images/plan/mv_plan@2x.jpg) no-repeat right center/cover;
    margin-top: 6.25rem;
    aspect-ratio: 1280/456;
  }
}
@media screen and (min-width: 993px) {
  .plan-page-mv__image {
    height: 456px;
  }
}

.plan-page__title.c-title {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-size: clamp(40px, 7.5vw, 96px);
  font-weight: 400;
  line-height: 1; /* 100% */
  letter-spacing: 0.08em;
}
@media screen and (min-width: 769px) {
  .plan-page__title.c-title {
    letter-spacing: 0.08em;
  }
}
@media screen and (min-width: 993px) {
  .plan-page__title.c-title {
    top: 40%;
  }
}

.plan-page__list_title {
  color: #fff;
  font-size: clamp(20px, 3.125vw, 40px);
  font-weight: 400;
  letter-spacing: 0.08em;
  line-height: 0.8695652174;
  margin-top: 3.5rem;
}
@media screen and (min-width: 993px) {
  .plan-page__list_title {
    margin-top: 6.5rem;
    letter-spacing: 0.08em;
  }
}

.plan-page__inner {
  width: 16.5rem;
  margin-top: 3.375rem;
  margin-inline: auto;
}
@media screen and (min-width: 577px) {
  .plan-page__inner {
    width: 100%;
  }
}
@media screen and (min-width: 769px) {
  .plan-page__inner {
    margin-top: 7.5rem;
  }
}

.plan-page__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
@media screen and (min-width: 769px) {
  .plan-page__list {
    gap: 2.25rem;
  }
}

.plan-page__item a {
  display: block;
  background: #F4F0F0;
  width: 16.5rem;
  height: 11rem;
  border-radius: 32px;
  padding-top: 2.125rem;
  transition: background-color 0.3s ease-in;
}
@media (hover: hover) {
  .plan-page__item a:hover, .plan-page__item a:focus {
    background: #4E4E4E;
    color: #fff;
  }
  .plan-page__item a:hover .plan-page__number, .plan-page__item a:focus .plan-page__number {
    background: #4E4E4E;
    color: #fff;
    border: 1px solid #fff;
    transition: all 0.3s ease-in;
  }
}
@media (hover: none) and (any-pointer: coarse) {
  .plan-page__item a:active {
    background: pink;
    color: #fff;
  }
  .plan-page__item a:active .plan-page__number {
    background: red;
    color: #fff;
    border: 1px solid #fff;
  }
}
@media screen and (min-width: 993px) {
  .plan-page__item a {
    width: 20rem;
    height: auto;
    aspect-ratio: 320/240;
  }
}

.plan-page__number {
  width: 3.5rem;
  aspect-ratio: 1;
  background: #7FB0BF;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 36%;
  font-size: clamp(24px, 3.125vw, 40px);
  font-weight: 400;
  letter-spacing: 0.08em;
  line-height: 1;
}
@media screen and (min-width: 993px) {
  .plan-page__number {
    letter-spacing: 0.08em;
    width: 4.5rem;
  }
}

.plan-page__text {
  font-size: clamp(16px, 1.875vw, 24px);
  font-weight: 400;
  letter-spacing: 0.08em;
  margin-top: 1.5625rem;
}
@media screen and (min-width: 993px) {
  .plan-page__text {
    letter-spacing: 0.0533333333em;
    margin-top: 2rem;
  }
}

.plan-page__card-inner {
  margin-top: 4.75rem;
  margin-inline: auto;
}
@media screen and (min-width: 769px) {
  .plan-page__card-inner {
    max-width: 956px;
    margin-top: 8rem;
  }
}

.plan-page__card-item {
  background: #fbf7f1;
  border-radius: 1.875rem;
  padding: 1.8125rem 1rem 2.5rem 1.5rem;
  text-align: left;
}
@media screen and (min-width: 769px) {
  .plan-page__card-item {
    padding: 2.5rem 4rem 4rem 2.5rem;
  }
}

.plan-page__card-item + .plan-page__card-item {
  margin-top: 2.5rem;
}
@media screen and (min-width: 769px) {
  .plan-page__card-item + .plan-page__card-item {
    margin-top: 8.375rem;
  }
}

.plan-page__card-top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.plan-page__card-number {
  width: 3.5rem;
  aspect-ratio: 1;
  background: #7FB0BF;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 36%;
  font-size: clamp(24px, 3.125vw, 40px);
  font-weight: 400;
  letter-spacing: 0.08em;
  line-height: 1;
}
@media screen and (min-width: 993px) {
  .plan-page__card-number {
    letter-spacing: 0.08em;
    width: 5.5rem;
  }
}

.plan-page__card-title {
  font-size: clamp(16px, 2.5vw, 32px);
  font-weight: 400;
  letter-spacing: 0.08em;
  margin-left: 1.5rem;
}
@media screen and (min-width: 993px) {
  .plan-page__card-title {
    letter-spacing: 0.0533333333em;
  }
}

.plan-page__card-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (min-width: 769px) {
  .plan-page__card-wrap {
    justify-content: space-between;
    align-items: flex-end;
  }
}

.plan-page__card-price {
  text-align: center;
  font-size: clamp(24px, 3.75vw, 48px);
  font-weight: 400;
  line-height: 1.1666666667;
  letter-spacing: 0.08em;
}
@media screen and (min-width: 769px) {
  .plan-page__card-price {
    line-height: 1.1666666667;
    letter-spacing: 0.08em;
    order: 2;
  }
}

.plan-page__card-price span {
  display: inline-block;
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: clamp(36px, 7.5vw, 96px);
  font-weight: 400;
  line-height: 1.1666666667;
  letter-spacing: 0.08em;
  margin-top: 1.5rem;
}
@media screen and (min-width: 769px) {
  .plan-page__card-price span {
    line-height: 0.8333333333;
    margin-left: 1.375rem;
    margin-right: 1rem;
    margin-top: 2.25rem;
  }
}

.plan-page__card-info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  order: 1;
}
@media screen and (min-width: 769px) {
  .plan-page__card-info {
    width: 50%;
    gap: 1.5rem;
    justify-content: flex-start;
  }
}
@media screen and (min-width: 993px) {
  .plan-page__card-info {
    gap: 2.375rem;
  }
}

.plan-page__card-service {
  display: inline-block;
  border-radius: 1.25rem;
  background: #7FB0BF;
  padding: 0.875rem 0.625rem;
  margin-top: 1.5rem;
  font-size: clamp(16px, 1.5625vw, 20px);
  font-weight: 400;
  line-height: 1.1875;
  letter-spacing: 0.08em;
}
@media screen and (min-width: 769px) {
  .plan-page__card-service {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9.5rem;
    padding: 1.5625rem 0rem;
    line-height: 1.15;
    letter-spacing: 0.08em;
  }
}

.plan-page__card-service + .plan-page__card-service {
  margin-left: 0.6875rem;
}
@media screen and (min-width: 769px) {
  .plan-page__card-service + .plan-page__card-service {
    margin-left: 1.5rem;
  }
}
@media screen and (min-width: 993px) {
  .plan-page__card-service + .plan-page__card-service {
    margin-left: 2.375rem;
  }
}

@media screen and (min-width: 769px) {
  .plan-page__card-service:last-child {
    padding: 1.5625rem 0rem;
  }
}

.plan-page__card-textHead {
  font-size: clamp(16px, 1.875vw, 24px);
  font-weight: 400;
  line-height: 1.1875;
  letter-spacing: 0.08em;
  margin-top: 1rem;
}
@media screen and (min-width: 577px) {
  .plan-page__card-textHead {
    margin-top: 2rem;
  }
}
@media screen and (min-width: 769px) {
  .plan-page__card-textHead {
    line-height: 1.1666666667;
    letter-spacing: 0.08em;
    margin-top: 3rem;
  }
}

.plan-page__card-text-inner {
  margin-top: 2.0625rem;
}
@media screen and (min-width: 577px) {
  .plan-page__card-text-inner {
    margin-top: 3.25rem;
  }
}
@media screen and (min-width: 769px) {
  .plan-page__card-text-inner {
    margin-top: 4.5rem;
  }
}

.plan-page__card-text {
  font-size: clamp(14px, 1.25vw, 16px);
  font-weight: 400;
  line-height: 1.1428571429;
  letter-spacing: 0.08em;
  padding-left: 1.5rem;
  position: relative;
}
.plan-page__card-text::before {
  content: "";
  position: absolute;
  width: 1rem;
  height: 1rem;
  background: #7FB0BF;
  border-radius: 50%;
  left: 0;
}
@media screen and (min-width: 769px) {
  .plan-page__card-text {
    line-height: 1.1875;
    letter-spacing: 0.08em;
    padding-left: 2.5rem;
  }
}

.plan-page__card-text + .plan-page__card-text {
  margin-top: 0.5rem;
}

.plan-page__card-text-body {
  margin-top: 1rem;
}
@media screen and (min-width: 769px) {
  .plan-page__card-text-body {
    margin-top: 1.5rem;
  }
}

.c-btn.btn-entry.plan-page {
  margin-top: 4.5rem;
  margin-bottom: 4.5rem;
}
@media screen and (min-width: 769px) {
  .c-btn.btn-entry.plan-page {
    margin-top: 8.5rem;
    margin-bottom: 8rem;
  }
}

.contact {
  padding: 0 7%;
  text-align: center;
}
@media screen and (min-width: 577px) {
  .contact {
    padding: 0 10%;
  }
}

.contact-page-mv__image {
  background: url(/images/contact/mv_contact_sp@2x.jpg) no-repeat center center/cover;
  width: 100%;
  height: auto;
  aspect-ratio: 375/344;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}
@media screen and (min-width: 769px) {
  .contact-page-mv__image {
    background: url(/images/contact/mv_contact@2x.jpg) no-repeat right center/cover;
    margin-top: 6.25rem;
    aspect-ratio: 1280/456;
  }
}
@media screen and (min-width: 993px) {
  .contact-page-mv__image {
    height: 456px;
  }
}

.contact-page__title.c-title {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-size: clamp(40px, 7.5vw, 96px);
  font-weight: 400;
  line-height: 1; /* 100% */
  letter-spacing: 0.08em;
}
@media screen and (min-width: 769px) {
  .contact-page__title.c-title {
    letter-spacing: 0.08em;
  }
}
@media screen and (min-width: 993px) {
  .contact-page__title.c-title {
    top: 40%;
  }
}

/*----------------------------------
    インナー
-----------------------------------*/
.contact__inner {
  text-align: left;
  width: 100%;
  padding: 3rem 1.4375rem 4rem;
  border-radius: 24px;
  background: #F4F0F0;
  margin-top: 3.875rem;
  margin-bottom: 4.5rem;
  margin-inline: auto;
}
@media screen and (min-width: 577px) {
  .contact__inner {
    max-width: 1009px;
    width: 100%;
    padding: 4rem 3.25rem 5.125rem;
  }
}
@media screen and (min-width: 769px) {
  .contact__inner {
    padding: 5.125rem 5rem 8.75rem;
    margin-top: 7.5rem;
    margin-bottom: 7.5rem;
  }
}
@media screen and (min-width: 993px) {
  .contact__inner {
    padding: 5.125rem 10rem 11.25rem;
    border-radius: 30px;
    margin-bottom: 10rem;
  }
}
@media screen and (min-width: 1201px) {
  .contact__inner {
    padding: 6rem 13.125rem;
    margin-top: 9.5rem;
  }
}

.contact__title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-inline: auto;
  font-size: clamp(16px, 3.125vw, 40px);
  font-weight: 400;
  line-height: 1.1875;
  letter-spacing: 0.08em;
  position: relative;
}
@media screen and (min-width: 769px) {
  .contact__title {
    line-height: 1.175;
    letter-spacing: 0.08em;
  }
}
.contact__title::before, .contact__title::after {
  content: "";
  position: absolute;
  width: 0.75rem;
  height: 0.75rem;
  background: #7FB0BF;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
@media screen and (min-width: 769px) {
  .contact__title::before, .contact__title::after {
    width: 1.5625rem;
    height: 1.5625rem;
  }
}
.contact__title::before {
  left: -2.75rem;
}
@media screen and (min-width: 769px) {
  .contact__title::before {
    left: -5rem;
  }
}
.contact__title::after {
  right: -2.75rem;
}
@media screen and (min-width: 769px) {
  .contact__title::after {
    right: -5rem;
  }
}

.form__wrap {
  margin-top: 1.125rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}
.form__wrap:first-child {
  margin-top: 3.4375rem;
}
@media screen and (min-width: 769px) {
  .form__wrap:first-child {
    margin-top: 5.6875rem;
  }
}
@media screen and (min-width: 993px) {
  .form__wrap {
    justify-content: space-between;
    margin-top: 2.1875rem;
  }
}
@media screen and (min-width: 993px) {
  .form__wrap:nth-child(n+5) {
    margin-top: 1.5rem;
  }
}

.form__label {
  font-size: clamp(14px, 1.25vw, 16px);
  font-weight: 700;
  line-height: normal;
  line-height: 1.1428571429;
  vertical-align: baseline;
  width: 100%;
}
@media screen and (min-width: 993px) {
  .form__label {
    line-height: 1.1875;
    width: 40%;
  }
}

.form__label span {
  display: inline-block;
  font-size: clamp(12px, 1.09375vw, 14px);
  font-weight: 700;
  line-height: 1.1666666667;
  padding: 0.3125rem 0.75rem;
  background: #7FB0BF;
  border-radius: 0.625rem;
  margin-left: 1rem;
}
@media screen and (min-width: 769px) {
  .form__label span {
    line-height: 1.1428571429;
    padding: 0.4375rem 0.6875rem;
  }
}

.form__data {
  width: 100%;
}
@media screen and (min-width: 993px) {
  .form__data {
    width: 57%;
  }
}

.form__data input[type=text],
.form__data input[type=email],
.form__data input[type=tel] {
  background: #CFDBE1;
  border-radius: 0.3125rem;
  font-size: clamp(14px, 1.25vw, 16px);
  font-weight: 700;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 0.875rem;
  margin-top: 0.375rem;
  width: 100%;
  border: none;
  outline: none;
}
.form__data input[type=text]:focus,
.form__data input[type=email]:focus,
.form__data input[type=tel]:focus {
  outline: 1px solid #000;
}
.form__data input[type=text]::-moz-placeholder, .form__data input[type=email]::-moz-placeholder, .form__data input[type=tel]::-moz-placeholder {
  color: #a7a5a5;
}
.form__data input[type=text]::placeholder,
.form__data input[type=email]::placeholder,
.form__data input[type=tel]::placeholder {
  color: #a7a5a5;
}
@media screen and (min-width: 769px) {
  .form__data input[type=text],
  .form__data input[type=email],
  .form__data input[type=tel] {
    padding: 0.875rem 1rem 0.875rem;
  }
}
@media screen and (min-width: 993px) {
  .form__data input[type=text],
  .form__data input[type=email],
  .form__data input[type=tel] {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.25rem;
    margin-top: 0rem;
  }
}

/*----------------------------------
    ラジオボタン
-----------------------------------*/
.radio__wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0.5rem;
}
@media screen and (min-width: 993px) {
  .radio__wrap {
    margin-top: 0rem;
    width: 57%;
  }
}

.radio__wrap label {
  margin-right: 1.5rem;
}
@media screen and (min-width: 769px) {
  .radio__wrap label {
    margin-right: 1.25rem;
  }
}

.radio__wrap label input[type=radio] {
  display: none;
}

.radio__wrap label span {
  display: inline-block;
  position: relative;
  padding-left: 1.4375rem;
  font-weight: 400;
  line-height: 1;
}
.radio__wrap label span::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border: 2px solid #4d4237;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
.radio__wrap label span::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  border: none;
  background: #4d4237;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  left: 3.8px;
  opacity: 0;
}

.radio__wrap label input[type=radio]:checked + span:after {
  opacity: 1;
}

.radio__wrap label:hover {
  cursor: pointer;
}

/*----------------------------------
    送信ボタン
-----------------------------------*/
.form__submit {
  text-align: center;
  margin-top: 4rem;
}

.form__submit input[type=submit] {
  width: 15.1875rem;
  height: 2.875rem;
  background: #7FB0BF;
  font-size: 0.875rem;
  font-weight: 700;
  border-radius: 0.625rem;
}

/*# sourceMappingURL=style.css.map */