@use "sass:math";
@use "../../foundation" as *;

.contact {
  padding: 0 7%;
  text-align: center;
  @include mq(sm) {
      padding: 0 10%;
  }
  // @include mq(md) {
  //     padding: 0 12%;
  // }
}

.contact-page-mv__image {
  background: url(/images/contact/mv_contact_sp@2x.jpg) no-repeat center center /
    cover;
  width: 100%;
  height: auto;
  aspect-ratio: 375/344;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  @include mq(sm) {
  }
  @include mq(md) {
    background: url(/images/contact/mv_contact@2x.jpg) no-repeat right center /
      cover;
    margin-top: rm(100);
    aspect-ratio: 1280/456;
  }
  @include mq(lg) {
    height: 456px;
  }
}
// MVのタイトル「CONTACT」
.contact-page__title.c-title {
  // margin-top: rm(172);
  position: absolute;
  // margin-top: 45%;
  top: 50%;
  transform: translateY(-50%);
  left: 50%;
  transform: translateX(-50%);
  color: $color-white;
  font-size: clamp(40px, vw(96), 96px);
  font-weight: 400;
  line-height: 1; /* 100% */
  letter-spacing: math.div(3.2px, 40px) * 1em;
  @include mq(sm) {
    // margin-top: rm(300);
  }
  @include mq(md) {
    letter-spacing: math.div(7.68px, 96px) * 1em;
    // margin-top: rm(160);
  }
  @include mq(lg) {
    // margin-top: rm(20);
    top: 40%;
  }
}

.contact__inner {
  text-align: left;
  width: rm(326);
  // max-width: 100%;
  padding: rm(48) rm(23) rm(64);
  border-radius: rm(24);
  background: $color-F4F0F0;
  margin-top: rm(62);
  margin-bottom: rm(72);
  margin-inline: auto;
  @include mq(sm) {
    max-width: 1009px;
    width: 100%;
    padding: rm(64) rm(52) rm(82);
  }
  @include mq(md) {
    padding: rm(82) rm(80) rm(100);
    margin-top: rm(120);
  }
  @include mq(lg) {
    padding: rm(82) rm(160) rm(100);
  }
  @include mq(xl) {
    padding: rm(96) rm(210);
    margin-top: rm(152);
  }
}

.contact__title {
  width: fit-content;
  margin-inline: auto;
  font-size: clamp(16px, vw(40), 40px);
  font-weight: 400;
  line-height: math.div(19px, 16px);
  letter-spacing: math.div(1.28px, 16px) * 1em;
  position: relative;
  @include mq(md) {
    line-height: math.div(47px, 40px);
    letter-spacing: math.div(3.2px, 40px) * 1em;
  }
  &::before,
  &::after {
    content: "";
    position: absolute;
    width: rm(12);
    height: auto;
    aspect-ratio: 1;
    background: $color-bg;
    border-radius: 50%;
  }
  &::before {
    //配置
    left: rm(-44);
    top: 0;
  }

  &::after {
    //配置
    right: rm(-44);
    top: 0;
  }
}

.form__wrap {
  margin-top: rm(18);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  &:first-child {
    margin-top: rm(55);
    @include mq(md) {
      margin-top: rm(91);
    }
  }
  
  @include mq(lg) {
    justify-content: space-between;
}
}


.form__data input[type="text"],
.form__data input[type="email"],
.form__data input[type="tel"] {
  background: $color-CFDBE1;
  border-radius: rm(5);
  font-size: clamp(14px, vw(16), 16px);
  font-weight: 700;
  padding-top: rm(12);
  padding-bottom: rm(12);
  padding-left: rm(14);
  margin-top: rm(6);
  width: 100%;
  border: none;
  outline: none; //focus時の枠線を消しておく
  &:focus {
    //入力をしているとき
    outline: 1px solid #000;
  }
  &::placeholder {
    color: #a7a5a5;
  }
  @include mq(md) {
    padding: rm(14) rm(16) rm(14);
  }
  @include mq(lg) {
    padding-top: rm(4);
    padding-bottom: rm(4);
    padding-left: rm(20);
    margin-top: 0;
  }
}

.radio__wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  // flex-wrap: wrap;
  margin-top: rm(8);
  @include mq(md) {
    margin-top: rm(35);
  }
  }

.radio__wrap label {
  margin-right: rm(24);
  @include mq(md) {
    margin-right: rm(20);
  }
}

//デフォルトのラジオボタンを消す
.radio__wrap label input[type="radio"] {
  display: none;
}

//テキスト部分 カスタマイズしたラジオボタン
.radio__wrap label span {
  display: inline-block;
  position: relative;
  padding-left: rm(23);
  font-weight: 400;
  line-height: 1;
  // line-height: math.div(19px, 16px);
  //枠組み
  &::before {
    content: "";
    position: absolute;
    width: 16px;
    height: auto;
    aspect-ratio: 1;
    border: 2px solid #4d4237;
    border-radius: 50%;
    //配置
    top: 50%;
    transform: translateY(-50%);
    left: 0;
  }
  &::after {
    content: "";
    position: absolute;
    width: 9px;
    height: auto;
    aspect-ratio: 1;
    border: none;
    background: #4d4237;
    border-radius: 50%;
    //配置
    top: 50%;
    transform: translateY(-50%);
    left: 3.8px;
    opacity: 0;
  }
}

// input[type="radio"]に隣接したspanのラジオボタン
.radio__wrap label input[type="radio"]:checked + span:after {
  opacity: 1;
}

.radio__wrap label:hover {
  cursor: pointer;
}
// ラベル
.form__label {
  font-size: clamp(14px, vw(16), 16px);
  font-weight: 700;
  line-height: normal;
  line-height: math.div(16px, 14px);
  // display: block;
  vertical-align: baseline;
  width: 100%;
  @include mq(lg) {
    line-height: math.div(19px, 16px);
    width: 40%;
  }
}
.form__label span {
  display: inline-block;
  font-size: clamp(12px, vw(14), 14px);
  font-weight: 700;
  line-height: math.div(14px, 12px);
  padding: rm(5) rm(12);
  background: $color-bg;
  border-radius: rm(10);
  margin-left: rm(16);

  @include mq(md) {
    line-height: math.div(16px, 14px);
    padding: rm(7) rm(11);
  }
}

.form__data {
  width: 100%;
  @include mq(lg) {
    width: 57%;
  }
}

// 送信ボタン

.form__submit {
  text-align: center;
  margin-top: rm(64);
}

.form__submit input[type="submit"] {
  width: rm(243);
  height: rm(46);
  background: $color-bg;
  font-size: 14px;
  font-weight: 700;
  border-radius: rm(10);
}

//======================
// 今回のテーマ
//======================

// .row {
//   display: flex;
//   align-items: center;
//   margin-bottom: 40px;
//   &.ai-start {
//       align-items: start;
//       .head {
//           margin-top: 10px;
//       }
//   }
// }
// .head {
//   width: 20%;
//   font-size: 20px;
// }
// .data {
//   width: 80%;
// }
// input[type=text], input[type=email], textarea {
//   width: 100%;
//   height: auto;
//   padding: 12px 20px;
//   font-size: 16px;
//   line-height: 1.5;
//   background: #f4f4f4;
//   border: none;
//   outline: none; //focus時の枠線を消しておく
//   &:focus {
//       //入力をしているとき
//       outline: 1px solid #000;
//   }
//   &::placeholder {
//       color: #9f9f9f;
//   }
// }
// textarea {
//   height: 120px;
//   resize: vertical; //自分でサイズを変えられるように
// }
