@use "sass:math";
@use "../../foundation" as *;

.contact {
  padding: 0 7%;
  text-align: center;
}

.contact-page-mv__image {
  background: url(/images/contact/mv_contact_sp@2x.jpg) no-repeat center center /
    cover;
  width: 100%;
  height: auto;
  aspect-ratio: 375/344;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  @include mq(sm) {

  }
  @include mq(md) {
    background: url(/images/contact/mv_contact@2x.jpg) no-repeat right center / cover;
    margin-top: rm(100);
    aspect-ratio: 1280/456;
  }
  @include mq(lg) {
    height: 456px;
  }

}
// MVのタイトル「CONTACT」
.contact-page__title.c-title {
  // margin-top: rm(172);
  position: absolute;
  // margin-top: 45%;
  top: 50%;
  transform: translateY(-50%);
  left: 50%;
  transform: translateX(-50%);
  color: $color-white;
  font-size: clamp(40px, vw(96), 96px);
  font-weight: 400;
  line-height: 1; /* 100% */
  letter-spacing: math.div(3.2px, 40px) * 1em;
  @include mq(sm) {
    // margin-top: rm(300);
  }
  @include mq(md) {
    letter-spacing: math.div(7.68px, 96px) * 1em;
    // margin-top: rm(160);
  }
  @include mq(lg) {
    // margin-top: rm(20);
    top: 40%;
  }
}

