@use "../foundation" as *;
@use "sass:math";

.primary-btn {
  padding: rm(21) rm(18);
  color: $color-white;
  display: inline-block;
  font-size: clamp(12px, vw(36), 36px);
  line-height: 1;
  letter-spacing: math.div(0.96px, 12px) * 1em;
  border-radius: rm(24);
  background-color: $color-black;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  @include mq(lg) {
    padding: rm(18) rm(19);
    border-radius: rm(30);
  }
}

// ヘッダーの中のお問い合わせボタン
@include mq(lg) {
  .primary-btn.primary-btn_color-change {
    font-size: 0;
    background: $color-F4F0F0;
    max-width: 208px;
    width: rm(220);
    &::before {
      font-size: rm(16);
      content: "無料体験お申込み";
      color: $color-black;
      font-family: $font-family-notosans;
      font-weight: 400;
      line-height: 1.5;
      letter-spacing: math.div(1.28px, 16px) * 1em;
    }
  }
}

// PLAN
.primary-btn.btn-plan {
  border-radius: 30px;
  background: #edeff0;
  box-shadow: 0px 10px 10px 0px rgba(102, 158, 170, 0.25);
  padding: rm(16) rm(80);
  text-align: center;
  @media (hover: hover) {
    &:hover,
    &:focus {
      opacity: 0.8;
      cursor: pointer;
      transition: all 0.3s ease;
    }
  }

  @include mq(lg) {
    padding: rm(37) rm(182) rm(32) rm(178);
    max-width: 583px;
  }
}

// planの中の「プランを見てみる」
.btn-textTop {
  font-size: clamp(16px, vw(24), 24px);
  color: $color-black;
  font-weight: 400;
  line-height: math.div(28px, 24px);
  line-height: 1;
  letter-spacing: math.div(1.28px, 16px) * 1em;
  @include mq(lg) {
    letter-spacing: math.div(1.92px, 24px) * 1em;
    margin-left: rm(10);
  }
}

// planの中の「PLAN」
.btn-textBottom {
  color: #7fb0bf;
  font-size: clamp(40px, vw(64), 64px);
  font-weight: 400;
  line-height: math.div(47px, 40px);
  // line-height: 1;
  letter-spacing: math.div(3.2px, 40px) * 1em;
  text-transform: uppercase;
  position: relative;
  @include mq(lg) {
    letter-spacing: math.div(5.12px, 64px) * 1em;
    margin-top: rm(10);
  }
  // 両脇の丸
  &::before,
  &::after {
    content: "";
    position: absolute;
    background: $color-bg;
    width: rm(16);
    height: rm(16);
    border-radius: 50%;
    top: rm(6);
    @include mq(lg) {
      width: rm(30);
      height: rm(30);
      top: rm(0);
    }
  }
  &::before {
    left: rm(-45);
    @include mq(lg) {
      left: rm(-92);
    }
  }
  &::after {
    right: rm(-44);
    @include mq(lg) {
      right: rm(-96);
    }
  }
}

.btn-planWrap {
  position: relative;
  margin-top: rm(104);
}

// プランの上の三本線------------------//
.plan-barWrap {
  margin-top: rm(56);
  margin-bottom: rm(16);
  margin-inline: auto;
  width: rm(136);
  height: rm(32);
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  @include mq(lg) {
    width: rm(264);
    max-width: 264px;
    height: rm(64);
    margin-top: rm(112);
    margin-bottom: rm(56);
  }
}

.plan-bar1,
.plan-bar2,
.plan-bar3 {
  background: $color-white;
  width: rm(3);
  height: rm(21);
  @include mq(lg) {
    height: rm(42);
  }
}

// 左
.plan-bar1 {
  transform: rotate(-45deg);
  align-self: flex-end;
}

// 右
.plan-bar3 {
  transform: rotate(45deg);
  align-self: flex-end;
}

// 無料体験の申し込みはこちら（黒）
.primary-btn.btn-entry {
  margin-top: rm(48);
  margin-bottom: rm(72);
  width: 100%;
  font-size: clamp(18px, vw(36), 36px);
  background: #4e4e4e;
  // max-width: 312px;
  // width: rm(312);
  @include mq(md) {
    margin-top: rm(88);
    margin-bottom: rm(136);
    padding: rm(40) 0;
    max-width: 720px;
  }
}
