@use "../foundation" as *;
@use "sass:math";

// .c-btn {
//   padding: rm(14) rm(60);
//   display: inline-block;
//   font-size: rm(15);
//   line-height: 1;
//   letter-spacing: 0.1em;
//   text-transform: uppercase;
//   border: 1px solid #000;
//   border-radius: rm(50);
//   background-color: #fff;
// }

.c-btn {
  padding: rm(21) rm(19);
  color: $color-white;
  display: inline-block;
  font-size: clamp(12px, vw(36), 36px);
  line-height: 1;
  letter-spacing: math.div(0.96px, 12px) * 1em;
  border-radius: rm(24);
  background-color: $color-black;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  @include mq(lg) {
    padding: rm(18) rm(19);
  }
}

@include mq(lg) {
  .c-btn.c-btn--colorChange {
    font-size: 0;
    background: $color-F4F0F0;
    max-width: 208px;
    width: rm(220);

    // min-width: 150px;
    &::before {
      font-size: rm(16);
      content: "無料体験お申込み";
      color: $color-black;
      // width: vw(180);
      // width: 100%;
      font-family: $font-family-notosans;
      font-weight: 400;
      line-height: 1.5;
      letter-spacing: math.div(1.28px, 16px) * 1em;
      // display: flex;
      // justify-content: center;
      // left: 50%;
      // transform: translateX(-20%);
    }
  }
}

// Modifier
.c-btn.c-btn--white {
  display: none;
  background: $color-white;
  color: $color-black;
}

.c-btn.c-btn--black {
  color: #fff;
  background-color: #000;
}

// @include mq(lg) {
//   .header__contact.btn-sp-only {
//     display: none;
//   }
// }

.c-btn.btn-plan {
  border-radius: 30px;
  background: #edeff0;
  box-shadow: 0px 10px 10px 0px rgba(102, 158, 170, 0.25);
  padding: rm(16) rm(80);
  margin-top: rm(104);
  text-align: center;
@media(hover: hover) {
    &:hover {
        opacity: 0.8;
        cursor: pointer;
        transition: all  0.3s ease;
    }
}
  @include mq(lg) {
    margin-top: rm(232);
    padding: rm(37) rm(182) rm(32) rm(178);
    max-width: 583px;
  
      
  }
}

.btn-textTop {
  font-size: clamp(16px, vw(24), 24px);
  color: $color-black;
  font-weight: 400;
  line-height: math.div(28px, 24px);
  line-height: 1;
  letter-spacing: math.div(1.28px, 16px) * 1em;
  margin-left: rm(14);
  @include mq(lg) {
    letter-spacing: math.div(1.92px, 24px) * 1em;
    margin-left: rm(10);
  }
}

.btn-textBottom {
  color: #7fb0bf;
  font-size: clamp(40px, vw(64), 64px);
  font-weight: 400;
  line-height: math.div(47px, 40px);
  // line-height: 1;
  letter-spacing: math.div(3.2px, 40px) * 1em;
  text-transform: uppercase;
  position: relative;
  @include mq(lg) {
    letter-spacing: math.div(5.12px, 64px) * 1em;
margin-top: rm(10);
  }
  &::before,
  &::after {
    content: "";
    position: absolute;
    background: $color-bg-7FB0BF;
    width: rm(16);
    height: auto;
    aspect-ratio: 1;
    border-radius: 50%;
    top: rm(6);
    @include mq(lg) {
      width: rm(30);
      top: rm(0);
    }
  }
  &::before {
    left: rm(-45);
    @include mq(lg) {
      left: rm(-92);
    }
  }
  &::after {
    right: rm(-44);
    @include mq(lg) {
      right: rm(-96);
    }
  }

}
