@use "sass:math";
@use "../foundation" as *;


.about__inner {
  margin-top: rm(32);
  width: 100%;
  // overflow-x: hidden;
  // padding: rm(30) 8% rm(30);
  @include mq(lg) {
    max-width: 920px;
    margin-top: rm(125);
    margin-inline: auto;
    // margin-left: rm(144);
  }
}

// Be yourselfの背景
.about__content {
  position: relative;
  display: flex;
  justify-content: center;
  width: rm(479);
  // height: rm(318);
  aspect-ratio: 479/318;
  // max-width:100%;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  // margin: 0 auto;←これだとSPで左をはみ出させることができない！！
  background-image: url(/images/top/beyouself.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  @include mq(md) {
    width: rm(560);
  }
  @include mq(lg) {
    // max-width: 651px;
    width: rm(651);
    left: 32%;
  }
  &::after {
    display: block;
    content: "";
    position: absolute;
    width: rm(178);
    height: auto;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background: url(/images/top/about_img@2x.jpg) no-repeat center center /
      cover;
    bottom: rm(-90);
    left: 50%;
    transform: translateX(-50%);
    @include mq(md) {
      width: rm(200);
      bottom: rm(-80);
    }
    @include mq(lg) {
      left: 90%;
      transform: translateX(0);
        width: rm(328);
        bottom: 50%;
        transform: translateY(48%);

    }
  }
}

// titleとtext囲むもの
.about__body {
  // position: absolute;
  width: rm(326);
  margin-top: rm(44);
  // top: rm(44);
  // left: 50%;
  // transform: translateX(-50%);
  // z-index: 1;
  @include mq(lg) {
    margin-top: rm(90);
      width: rm(436);
      // top: rm(90);
  }
}

  // 「Be yourself」
.about__title {
  position: relative;
  color: $color-white;
  font-size: clamp(20px, vw(40), 40px);
  font-weight: 400;
  line-height: 2; /* 200% */
  letter-spacing: math.div(1.6px, 20px) * 1em;
  margin-left: rm(54);
  display: inline-block;
  @include mq(lg) {
    line-height: 1; /* 100% */
    letter-spacing: math.div(3.2px, 40px) * 1em;
    margin-left: 16%;
  }
  // 「Be yourself」の両側の丸
  &::before {
    content: "";
    position: absolute;
    width: rm(8);
    height: rm(8);
    border: none;
    background: $color-white;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-20%);
    left: rm(-20);
    // z-index: 2;
    //配置
    @include mq(lg) {
      width: rm(25);
      height: rm(25);
      left: rm(-57);
      transform: translateY(-50%);
    }
  }
  &::after {
    content: "";
    position: absolute;
    width: rm(8);
    height: rm(8);
    border: none;
    background: $color-white;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-20%);
    right: rm(-20);
    z-index: 2;
    //配置
    @include mq(lg) {
      width: rm(25);
      height: rm(25);
      right: rm(-57);
      transform: translateY(-50%);
    }
  }
}

.about__text {
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: math.div(1.28px, 16px) * 1em;
  margin-top: rm(26);
  @include mq(md) {
      margin-top: rm(16);
  }
  @include mq(lg) {
    line-height: 2.5; /* 250% */
    margin-top: rm(54);
  }
}

.about__text .marker{
  background: linear-gradient(transparent 70%, #F4F0F0 70%);
}