@use "sass:math";
@use "../foundation" as *;

.feature {
  text-align: center;
  padding-inline: 7%;
  padding-top: rm(407);
  @include mq(sm) {
    padding-top: rm(433);
    padding-inline: 10%;
  }
  @include mq(lg) {
    padding-top: rm(433);
  }
}

.feature__title.c-title {
  margin-top: rm(56);

  @include mq(lg) {
    margin-top: rm(144);
  }
}

.feature__inner {
  max-width: 672px;
  margin: 0 auto;
  padding-bottom: rm(40);
  @include mq(lg) {
    padding-bottom: rm(152);
  }
}

.feature__list {
  margin-top: rm(48);
  counter-reset: count 0;
}

.feature__item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: #fbf7f1;
  border-radius: 30px;
  padding: rm(24) rm(14) rm(32);
  @include mq(sm) {
    padding: rm(28) rm(40) rm(32);
  }
  @include mq(md) {
    align-items: center;
    flex-wrap: nowrap;
    background: $color-F4F0F0;
    padding: rm(36) rm(32) rm(36) rm(88);
    gap: rm(30);
    margin-top: rm(78);
  }
  & + .feature__item {
    margin-top: rm(46);
    @include mq(md) {
      margin-top: rm(70);
    }
  }
  &::before {
    display: flex;
    justify-content: center;
    align-items: center;
    content: counter(count, decimal-leading-zero);
    counter-increment: count 1;
    font-size: clamp(16px, vw(48), 48px);
    font-weight: 500;
    letter-spacing: math.div(1.28px, 16px) * 1em;
    position: absolute;
    width: rm(48);
    height: rm(48);
    border: none;
    border-radius: 50%;
    background: $color-CFDBE1;
    top: 0;
    transform: translateY(-32%);
    left: 0;
    //配置
    @include mq(sm) {
      width: rm(68);
      height: rm(68);
    }
    @include mq(md) {
      font-weight: 400;
      letter-spacing: math.div(3.84px, 48px) * 1em;
      width: rm(100);
      height: rm(100);
      transform: translate(-38%, -50%);
    }
    @include mq(lg) {
      width: rm(137);
      height: rm(137);
    }
  }
}

.feature__content {
  display: contents;
  @include mq(md) {
    text-align: left;
    display: block;
    width: rm(300);
  }
}

.feature__item-title {
  font-size: clamp(16px, vw(20), 20px);
  font-weight: 400;
  letter-spacing: math.div(1.28px, 16px) * 1em;
  order: 1;
  width: 100%;
  @include mq(md) {
    letter-spacing: math.div(1.6px, 20px) * 1em;
  }
}

.feature__text {
  font-weight: 400;
  line-height: 1.25; /* 125% */
  letter-spacing: math.div(1.28px, 16px) * 1em;
  margin-top: rm(24);
  text-align: left;
  order: 3;
  @include mq(sm) {
    width: rm(500);
  }
  @include mq(md) {
    order: 2;
    width: rm(248);
    margin-top: rm(24);
    // width: 55%;
  }
}

.feature__item-image {
  width: rm(240);
  aspect-ratio: 240/192;
  margin-top: rm(22);
  order: 2;
  @include mq(sm) {
    width: rm(300);
  }
  @include mq(md) {
    max-width: 240px;
    aspect-ratio: 240/192;
    margin-top: 0;
    order: 3;
  }
}

.feature__item-image img {
  width: 100%;
  height: auto;
  @include mq(md) {
    height: 100%;
  }
}

// .banner__parallax-inner{
//   position: relative;
//   width: 100%;
//   height: rm(104);
//   background: pink;
//   // min-height: 104px;
//   // display: block;
//   clip: rect(auto, auto, auto, auto);
//   @include mq(sm) {
//     height: rm(220);
//   }
//   @include mq(md) {
//     height: rm(280);
//   }
//   @include mq(lg) {
//     height: rm(347);
//   }
// }

// .banner__parallax-image{
//   position: fixed; /* fixedに変更する。それ以外は同じ。 */
//   top: 0;
//   left: 0;
//   display: block;
//   z-index: -1;
//   width: 100%;
//   height: rm(104);
//   background-image: url(/images/top/training@2x.jpg);
//   background-size: cover;
//   background-position: center;
// }

// .parallax {
//   background-attachment: fixed;
//   background-image: url(/images/top/training@2x.jpg);
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: 100%;
//   display: block;
//   width: 100%;
//   height: rm(104);
//   min-height: 104px;
//   @include mq(sm) {
//     height: rm(220);
//   }
//   @include mq(md) {
//     height: rm(280);
//   }
//   @include mq(lg) {
//     height: rm(347);
//   }
// }

.parallax-container {
  position: relative;
  height: rm(104);
  @include mq(md) {
    height: rm(347);
  }
}
.parallax-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: inset(0);
}
.parallax-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url(/images/top/training_sp@2x.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
  @include mq(md) {
    background-image: url(/images/top/training@2x.webp);
  }
}
