@use "sass:math";
@use "../foundation" as *;

.footer__inner {
  width: 100%;
  background: #bbccd1;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: rm(18);
  padding-bottom: rm(41);
  margin: 0 auto;
  @include mq(sm) {
    padding-top: rm(32);
  }
  @include mq(md) {
    padding-top: rm(48);
  }
  @include mq(lg) {
    padding-top: rm(64);
    padding-bottom: rm(80);
  }
}

.footer__logo {
  text-align: center;
}

.footer__logo img {
  width: rm(72);
  min-width: 72px;
  height: auto;
  aspect-ratio: 1/1;
  margin: 0 auto;
  @include mq(sm) {
    width: rm(78);
    max-width: 78px;
  }
  @include mq(md) {
    width: rm(86);
    max-width: 86px;
  }
  @include mq(lg) {
    width: rm(96);
    max-width: 96px;
  }
}

.footer__title {
  font-size: clamp(40px, vw(64), 64px);
  font-weight: 400;
  line-height: 1; /* 100% */
  letter-spacing: math.div(3.2px, 40px) * 1em;
  display: block;
  width: 100%;
  margin-top: rm(16);
  @include mq(lg) {
    letter-spacing: math.div(5.12px, 64px) * 1em;
    margin-top: rm(26);
  }
}

.footer__nav-list {
  display: flex;
  gap: rm(32);
}

.footer__nav-item {
  margin-top: rm(16);
  @include mq(lg) {
    margin-top: rm(32);
  }
}

.footer__nav-item a {
  text-transform: uppercase;
  font-size: clamp(14px, vw(16), 16px);
  font-weight: 400;
  line-height: 1.71429; /* 171.429% */
  letter-spacing: math.div(1.12px, 14px) * 1em;

  @include mq(lg) {
    line-height: 1.5; /* 150% */
    letter-spacing: math.div(1.27px, 16px) * 1em;
  }
}

.footer__copy {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: rm(72);
  @include mq(lg) {
    height: rm(110.6);
  }
}

.footer__copy-text {
  font-family: $font-family-notosans;
  font-size: clamp(8px, vw(10), 10px);
  font-weight: 500;
  line-height: 1;
  letter-spacing: math.div(0.64px, 8px) * 1em;
  @include mq(lg) {
    letter-spacing: math.div(0.64px, 10px) * 1em;
  }
}
