@use "sass:math";
@use "../foundation" as *;

.voice {
  text-align: center;
}

.voice__title.c-title {
  margin-top: rm(40);
  @include mq(lg) {
    margin-top: rm(122);
  }
}

.swiper-container {
  position: relative;
  margin-top: rm(32);
  @include mq(lg) {
    margin-top: rm(74);
  }
}

.swiper-slide {
  display: flex;
  // flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: #f4f0f0;
  border-radius: 50%;
  width: rm(248);
  max-width: 248px;
  height: auto;
  aspect-ratio: 1;
  flex-shrink: 0;
  @include mq(sm) {
    width: rm(260);
    max-width: 260px;
  }
  @include mq(md) {
    width: rm(360);
    min-width: 280px;
  }
  @include mq(lg) {
    min-width: 300px;
    // width:rm(500);
  }
  @include mq(xl) {
    max-width: 323px;
  }
}

.swiper-head {
  // width: rm(155);
  text-align: left;
  font-size: rm(16);
  font-weight: 400;
  line-height: 1.25; /* 125% */
  letter-spacing: math.div(1.28px, 16px) * 1em;
  margin-top: rm(50);
  position: relative;
  @include mq(md) {
    margin-top: rm(60);
  }
  @include mq(lg) {
    margin-top: rm(64);
  }
  @include mq(xl) {
    margin-top: rm(87);
  }
  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 44%;
    height: 1px;
    background: $color-black;
    //配置
    bottom: rm(-16);
    left: 50%;
    transform: translateX(-50%);
  }
}

.swiper-body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: rm(30);
  margin-left: rm(10);
}

.swiper-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.swiper-beforeWeight {
  text-align: left;
  font-size: rm(16);
  font-weight: 400;
  line-height: 1.25; /* 125% */
  letter-spacing: math.div(1.28px, 16px) * 1em;
}

.swiper-afterWeight {
  font-size: rm(32);
  font-weight: 400;
  line-height: 0.625; /* 62.5% */
  letter-spacing: math.div(2.56px, 32px) * 1em;
  margin-top: rm(8);
}

.swiper-attribute {
  font-size: rm(12);
  font-weight: 400;
  line-height: 1.66; /* 166.667% */
  letter-spacing: math.div(0.96px, 12px) * 1em;
  margin-top: rm(20);
  margin-left: rm(14);
}

.swiper-image {
  margin-left: rm(14);
  // width: 91px;
  width: rm(91);
}

// .swiper-pagination{
//   bottom:-40px  !important;
// }

.swiper-button-prev::after,
.swiper-button-next::after {
  content: "";
  width: rm(20);
  height: rm(20);
  border-top: solid 2px #bbccd1;
  border-right: solid 2px #bbccd1;
  position: absolute;
  top: rm(12);
}

.swiper-button-prev::after {
  transform: rotate(-135deg);
  left: rm(10);
}

.swiper-button-next::after {
  transform: rotate(45deg);
  right: rm(10);
}

//paginationの位置
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: rm(-40);
  left: 50%;
  transform: translateX(-50%);
}
