@use "sass:math";
@use "../../foundation" as *;

.plan {
  padding: 0 5%;
  text-align: center;
}

.plan-page-mv__image {
  background: url(/images/plan/mv_plan_sp@2x.jpg) no-repeat center center /
    cover;
  width: 100%;
  height: auto;
  aspect-ratio: 375/344;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  @include mq(md) {
    background: url(/images/plan/mv_plan@2x.jpg) no-repeat right center / cover;
    margin-top: rm(100);
    aspect-ratio: 1280/456;
  }
  @include mq(lg) {
    height: 456px;
  }
}

// MVのタイトル「PLAN」
.plan-page__title.c-title {
  // margin-top: rm(172);
  position: absolute;
  // margin-top: 45%;
  top: 50%;
  transform: translateY(-50%);
  left: 50%;
  transform: translateX(-50%);
  color: $color-white;
  font-size: clamp(40px, vw(96), 96px);
  font-weight: 400;
  line-height: 1; /* 100% */
  letter-spacing: math.div(3.2px, 40px) * 1em;
  @include mq(md) {
    letter-spacing: math.div(7.68px, 96px) * 1em;
    // margin-top: rm(160);
  }
  @include mq(lg) {
    // margin-top: rm(20);
    top: 40%;
  }
}

// タイトル「3つのプラン」
.plan-page__list_title {
  color: $color-white;
  font-size: clamp(20px, vw(40), 40px);
  font-weight: 400;
  letter-spacing: math.div(1.6px, 20px) * 1em;
  line-height: math.div(20px, 23px);
  margin-top: rm(56);
  @include mq(lg) {
    margin-top: rm(104);
    letter-spacing: math.div(3.2px, 40px) * 1em;
  }
}

.plan-page__inner {
  width: rm(264);
  margin-top: rm(54);
  margin-inline: auto;

  @include mq(sm) {
    width: 100%;
  }
  @include mq(md) {
    margin-top: rm(120);
  }
}

.plan-page__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: rm(16);
  @include mq(md) {
    gap: rm(36);
  }
}

.plan-page__item a {
  display: block;
  background: $color-F4F0F0;
  width: rm(264);
  height: rm(176);
  border-radius: 32px;
  padding-top: rm(34);
  transition: background-color 0.3s ease-in;
  @media (hover: hover) {
    &:hover,
    &:focus {
      background: $color-black;
      color: #fff;
      & .plan-page__number {
        background: $color-black;
        color: $color-white;
        border: 1px solid $color-white;
        transition: all 0.3s ease-in;
      }
    }
  }
  @media (hover: none) and (any-pointer: coarse) {
    &:active {
      background: $color-black;
      color: #fff;
      & .plan-page__number {
        background: $color-black;
        color: $color-white;
        border: 1px solid $color-white;
        transition: all 0.3s ease-in;
      }
    }
  }

  @include mq(lg) {
    width: rm(320);
    height: auto;
    aspect-ratio: 320/240;
  }
}

// .plan-page__item a:hover .plan-page__number,
// .plan-page__item a:focus .plan-page__number {
//   background: $color-black;
//   color: $color-white;
//   border: 1px solid $color-white;
//   transition: all 0.3s ease-in;
// }

// .plan-page__item a:hover .plan-page__text,
// .plan-page__item a:focus .plan-page__text {
//   color: $color-white;
//   transition: all 0.3s ease-in;
// }

.plan-page__number {
  width: rm(56);
  aspect-ratio: 1;
  background: $color-bg;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 36%;
  font-size: clamp(24px, vw(40), 40px);
  font-weight: 400;
  letter-spacing: math.div(1.92px, 24px) * 1em;
  line-height: 1;

  @include mq(lg) {
    letter-spacing: math.div(3.2px, 40px) * 1em;
    width: rm(72);
  }
}

.plan-page__text {
  font-size: clamp(16px, vw(24), 24px);
  font-weight: 400;
  letter-spacing: math.div(1.28px, 16px) * 1em;
  margin-top: rm(25);
  @include mq(lg) {
    letter-spacing: math.div(1.28px, 24px) * 1em;
    margin-top: rm(32);
  }
}

.plan-page__card-inner {
  margin-top: rm(76);
  margin-inline: auto;

  @include mq(md) {
    max-width: 956px;
    margin-top: rm(128);
  }
}

.plan-page__card-item {
  background: #fbf7f1;
  border-radius: rm(30);
  padding: rm(29) rm(16) rm(40) rm(24);
  text-align: left;
  @include mq(md) {
    padding: rm(40) rm(64) rm(64) rm(40);
  }
}

.plan-page__card-item + .plan-page__card-item {
  margin-top: rm(40);
  @include mq(md) {
    margin-top: rm(134);
  }
}

.plan-page__card-top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.plan-page__card-number {
  width: rm(56);
  aspect-ratio: 1;
  background: $color-bg;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 36%;
  font-size: clamp(24px, vw(40), 40px);
  font-weight: 400;
  letter-spacing: math.div(1.92px, 24px) * 1em;
  line-height: 1;
  @include mq(lg) {
    letter-spacing: math.div(3.2px, 40px) * 1em;
    width: rm(88);
  }
}

.plan-page__card-title {
  font-size: clamp(16px, vw(32), 32px);
  font-weight: 400;
  letter-spacing: math.div(1.28px, 16px) * 1em;
  margin-left: rm(24);

  @include mq(lg) {
    letter-spacing: math.div(1.28px, 24px) * 1em;
  }
}

.plan-page__card-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @include mq(md) {
    justify-content: space-between;
    align-items: flex-end;
  }
}

.plan-page__card-price {
  text-align: center;
  font-size: clamp(24px, vw(48), 48px);
  font-weight: 400;
  line-height: math.div(28px, 24px);
  letter-spacing: math.div(1.92px, 24px) * 1em;
  @include mq(md) {
    line-height: math.div(56px, 48px);
    letter-spacing: math.div(3.84px, 48px) * 1em;
    order: 2;
  }
}

.plan-page__card-price span {
  display: inline-block;
  margin-left: rm(16);
  margin-right: rm(16);
  font-size: clamp(36px, vw(96), 96px);
  font-weight: 400;
  line-height: math.div(42px, 36px);
  letter-spacing: math.div(2.88px, 36px) * 1em;
  margin-top: rm(24);
  @include mq(md) {
    line-height: math.div(80px, 96px);
    margin-left: rm(22);
    margin-right: rm(16);
    margin-top: rm(36);
  }
}

.plan-page__card-info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  order: 1;
  @include mq(md) {
    width: 50%;
    gap: rm(24);
    justify-content: flex-start;
  }
  @include mq(lg) {
    gap: rm(38);
  }
}

.plan-page__card-service {
  display: inline-block;
  border-radius: rm(20);
  background: $color-bg;
  padding: rm(14) rm(10);
  margin-top: rm(24);
  font-size: clamp(16px, vw(20), 20px);
  font-weight: 400;
  line-height: math.div(19px, 16px);
  letter-spacing: math.div(1.28px, 16px) * 1em;
  @include mq(md) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: rm(152);
    padding: rm(25) rm(0);
    line-height: math.div(23px, 20px);
    letter-spacing: math.div(1.6px, 20px) * 1em;
  }
}

.plan-page__card-service + .plan-page__card-service {
  margin-left: rm(11);
  @include mq(md) {
    margin-left: rm(24);
  }
  @include mq(lg) {
    margin-left: rm(38);
  }
}

.plan-page__card-service:last-child {
  @include mq(md) {
    // padding: rm(25) rm(12);
    padding: rm(25) rm(0);
  }
}

.plan-page__card-textHead {
  font-size: clamp(16px, vw(24), 24px);
  font-weight: 400;
  line-height: math.div(19px, 16px);
  letter-spacing: math.div(1.28px, 16px) * 1em;
  margin-top: rm(16);
  @include mq(sm) {
    margin-top: rm(32);
  }
  @include mq(md) {
    line-height: math.div(28px, 24px);
    letter-spacing: math.div(1.92px, 24px) * 1em;
    margin-top: rm(48);
  }
}

.plan-page__card-text-inner {
  margin-top: rm(33);
  @include mq(sm) {
    margin-top: rm(52);
  }
  @include mq(md) {
    margin-top: rm(72);
  }
}

.plan-page__card-text {
  font-size: clamp(14px, vw(16), 16px);
  font-weight: 400;
  line-height: math.div(16px, 14px);
  letter-spacing: math.div(1.12px, 14px) * 1em;
  padding-left: rm(24);
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: rm(16);
    height: rm(16);
    background: $color-bg;
    border-radius: 50%;
    //配置
    left: 0;
  }
  @include mq(md) {
    line-height: math.div(19px, 16px);
    letter-spacing: math.div(1.28px, 16px) * 1em;
    padding-left: rm(40);
  }
}

.plan-page__card-text + .plan-page__card-text {
  margin-top: rm(8);
}

.plan-page__card-text-body {
  margin-top: rm(16);
  @include mq(md) {
    margin-top: rm(24);
  }
}

// 申し込みボタン
.c-btn.btn-entry.plan-page {
  margin-top: rm(72);
  margin-bottom: rm(72);
  @include mq(md) {
    margin-top: rm(136);
    margin-bottom: rm(128);
  }
}
